.new-grocery {
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.submit-button {
  font: inherit;
  cursor: pointer;
  padding: 5px 110px;
  margin: 15px;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.submit-button:hover,
.submit-button:active {
  background-color: #510674;
  border-color: #510674;
}

.submit-button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.submit-button.alternative:hover,
.submit-button.alternative:active {
  background-color: #ddb3f8;
}

.cancel-button {
  font: inherit;
  cursor: pointer;
  padding: 3px 15px;
  margin: 15px;
  border: 1px solid #40005d;
  background-color: #5d0000;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.cancel-button:hover,
.cancel-button:active {
  background-color: #5b2020;
  border-color: #510674;
}

.cancel-button.alternative {
  color: #5b2020;
  border-color: transparent;
  background-color: transparent;
}

.cancel-button.alternative:hover,
.cancel-button.alternative:active {
  background-color: #5b2020;
}


.inputs {
  margin: 10px;
}

.item-input{
  width: 400px;
}
